<h1>Log in</h1>

<form action="/login" method="POST">
  <label>Username:</label>
  <input type="text" name="owner[username]">
  
  <label>Password:</label>
  <input type="password" name="owner[password]">
  
  <button type="submit">Log In</button>
</form>