<h1>Sign up to keep track of your games!</h1>

<form action="/owners" method="POST">
  <label>Username:</label>
  <input type="text" name="owner[username]">
  
  <label>Email:</label>
  <input type="email" name="owner[email]">
  
  <label>Password:</label>
  <input type="password" name="owner[password]">
  
  <button type="submit">Sign Up</button>
</form>