<h1>Log in</h1>
<%=flash[:notice] if flash[:notice]%>
<%if @user%>
  <%if @user.errors.any?%>
    <%@user.errors.full_messages.each do |msg|%>
      <h2><%=msg%></h2>
    <%end%>
  <%end%>
<%end%>
<form action="/login" method="POST">
  <label>Username:</label>
  <input type="text" name="username">
  
  <label>Password:</label>
  <input type="password" name="password">
  
  <button type="submit">Log In</button>
</form>