<h1>My games</h1>
<ol>
<%@user.games.each do |game|%>
    <li><a href="/games/<%=game.id%>"><%=game.name%></a></li>
    <br>
<%end%>
</ol>

<form action="/logout" method="POST">
  <button type="submit">Log out</button>
</form>