<h1>Create a game</h1>

<form action='/games' method="POST">
  <div>
   <label>Name:</label>
    <input type="text" name="game[name]" required>
  </div>
  
  <div>
    <label>Release Date:</label>
   <input type="text" name="game[release_date]" required>
  </div>
  
  <div>
    <label>Genres:</label>
    <%Genre.all.each do |genre| %>
    <label><%=genre.name%></label>
      <input id="<%= genre.name %>" type="checkbox" name="genres[]" value="<%= genre.id %>">
    <%end%>
  </div>
  
  <div>
    <label>Platform:</label>
    <input type="text" name="game[platform]" required>
  </div>
  
  <div>
    <button type="submit">Create Game</button>
  </div>
</form>