<h1>Welcome to GameTracker</h1>

<form action="/signup" method="GET">
  <button type="submit">Signup</button>
</form>

<br>

<form action="/login" method="GET">
  <button type="submit">Login</button>
</form>

