<h1>Welcome to GameTracker</h1>

<%= flash[:notice] if flash[:notice]%>

<form action="/users/new" method="GET">
  <button type="submit">Signup</button>
</form>

<br>

<form action="/login" method="GET">
  <button type="submit">Login</button>
</form>

